@import "./../../index";

.creator-title {
  height: 190px;
  border-radius: 4px;
  color: $primary-white;
  border: 1px solid $tertiary-black;
  box-shadow: $primary-box-shadow;

  .banner {
    height: 120px;

    img {
      height: 120px;
      width: 100%;
      border-radius: 4px 4px 0 0;
    }
  }

  .creator {
    height: 70px;
    background: $secondary-black;

    .image-round {
      display: inline-block;
      padding: 14px 15px;

      img {
        height: 42px;
        width: 42px;
        border-radius: 50%;
      }
    }

    .detail {
      display: inline-block;
      vertical-align: 7px;
    }
  }
}

.title-small {
  @include font-style($primary-white, Roboto, 1rem, 900);
}

.description {
  @include font-style($primary-ash, Roboto, .75rem, 900);
  padding: 3px 0;
}
