@import "./../../../index";

.item {
  min-width: 325px;
  background-color: $primary-black;
  overflow-y: auto;

  .item-image {
    display: inline-block;
    padding: 15px;
    width: 20%;

    img {
      height: 90px;
      width: 90px;
      object-fit: cover;
    }
  }

  .item-detail {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 60%;

    div {
      padding: 2px;
    }

    .other {
      display: inline-block;

      .description-brand {
        @include font-style($primary-ash, Roboto, .75rem, 900);
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        .description-bold {
          color: $primary-white;
        }

        img {
          position: absolute;
          top: 3px;
          padding-left: 5px;
          width: 12px;
          height: 12px;
        }
      }

      .description-color {
        @include font-style($primary-ash, Roboto, .75rem, 900);
        overflow: hidden;
        text-overflow: ellipsis;

        img {
          height: 8px;
          width: 8px;
          border-radius: 50%;
          margin-bottom: 1px;
        }

        span {
          margin-right: 5px;
        }

        .dot {
          display: inline-block;
          vertical-align: middle;
          background-color: $secondary-ash;
          height: 0;
          width: 0;
          border-radius: 50%;
          margin-right: 5px;
          margin-bottom: 2px;
        }
      }

    }

    .price {
      display: inline-block;
      float: right;

      .previous {
        background-color: $primary-black;
        border: 1px solid $primary-black;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 3px 6px;
        @include font-style($primary-ash, Roboto, .75rem, 900);
      }

      .price-button {
        background-color: $secondary-black;
        border: 1px solid $tertiary-black;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 3px 6px;
        @include font-style($primary-white, Roboto, .75rem, 900);
      }
    }

    .buttons {

      button {
        background-color: $secondary-black;
        border: 1px solid $tertiary-black;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 6px 12px;
        margin-right: 10px;
        cursor: pointer;
        @include font-style($primary-white, Roboto, .75rem, 900);
      }

      img {
        float: right;
        padding-top: 10px;
      }
    }
  }
}

.title-very-small {
  @include font-style($primary-white, Roboto, .875rem, 900);
}
