@import "./../../index";

.product {
  background: $secondary-black;
  border: 1px solid $tertiary-black;
  box-shadow: $primary-box-shadow;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  position: relative;

  .light-black-card {
    border: 1px solid $tertiary-black;
    padding: 15px;
    @include font-style($primary-white, Roboto, .875rem, 900);

    .float-right {
      float: right;
    }

    .top {
      position: absolute;
      top: 0;
    }

    .bottom {
      position: absolute;
      bottom: 0;
    }
  }

  .card-title {
    @include font-style($primary-white, Roboto, 1rem, 900);
    background-color: $primary-black;
    padding: 20px 15px 5px 15px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
      content: url('./../../assets/down-arrow.svg');
      padding-right: 15px;
    }
  }

  .items {
    height: calc(100vh - 505px);
    overflow-y: auto;
    background-color: $primary-black;
  }
}
