@import "./../../index";

.header {
  height: 25px;
  display: flex;
  padding: 15px 15px;

  .title {
    margin-right: auto;
    padding: 2px;
    @include font-style($primary-white, Poppins, 1.125rem, 900);

    .title-color-red {
      color: $primary-red;
    }
  }

  div {
    padding-left: 20px;
    position: relative;

    img {
      height: 25px;
    }
  }
}

.cart-value {
  background-color: $primary-red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: absolute;
  right: -3px;
  bottom: -4px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  @include font-style($primary-white, Roboto, .65rem, 900);
}


