@import "./../../index";

.footer {
  float: bottom;
  box-sizing: border-box;
  border-radius: 4px;
  width: calc(100% - 30px);
  margin: 0 15px 15px 15px;
  padding: 15px;
  text-align: center;
  background-color: $secondary-black;
  border: 1px solid $tertiary-black;
  @include font-style($primary-white, Roboto, 1rem, 900);
}
