$primary-black: #000000;
$secondary-black: #212121;
$tertiary-black: #303030;

$primary-ash: #8D8D8D;
$secondary-ash: #C4C4C4;

$primary-white: #FFFFFF;

$primary-red: #FC0401;

$primary-box-shadow: 0 3px 10px rgba($primary-white, 0.04), 0 8px 100px rgba($primary-white, 0.05);
